<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>
  <!-- the render user looks for user partial, found in app/views/users/_user.html.erb -->
  
<ul class="users">
	<%= render @users %>
</ul>

<%= will_paginate %>